@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Poppins', ui-sans-serif, system-ui;
  }

  html {
    font-family: var(--font-sans);
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  body {
    @apply antialiased bg-white;
  }
}
